html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bold;
  color: white;
}

input,
textarea {
  width: 30rem;
  height: 2.5rem;
  border-radius: 3rem;
  border: 1px solid #777;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0 1rem;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
}

textarea {
  border-radius: 1rem;
  padding-top: 0.5rem;
  height: 5rem;
  resize: none;
}
